div{
    padding:20px;
}
img{
    padding:20px;
    width: 50px;
    box-shadow:2px 2px 10px grey ;
    display:flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}


h3{
    text-decoration: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color:#800000;
    text-decoration: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
